$--sm-and-above: "screen and (min-width: 320px)";
$--md-and-above: "screen and (min-width: 768px)";
$--lg-and-above: "screen and (min-width: 1025px)";
$--xl-and-above: "screen and (min-width: 1920px)";
$--primary-color: "#D71461";
