@import './../../styles/variables';

.bookmark-list-item {
  width: 100%;
  display: flex;
  align-items: center;

  .time {
    color: #{$--primary-color};
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    text-decoration: underline;
  }

  .delete-icon {
    margin-left: 8px;
  }

  .empty-delete {
    width: 24px;
  }
}


