@import "./../../styles/variables";

.lesson {
  display: flex;
  margin: 8px 8px 16px 8px;
  flex-direction: column;

  @media #{$--md-and-above} {
    margin: 16px;
  }

  &:hover {
    background-color: rgba(#D71461, 0.1);
  }

  img {
    height: auto;
    width: 100%;
  }

  .details {
    padding: 16px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
  }
}


