<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- The first thing in any HTML file should be the charset -->
    <meta charset="utf-8" />

    <!-- Make the page mobile compatible -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Roboto font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

    <!-- Material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <noscript><img src='http://167.99.128.193/pixel.png?app_key=7397553b15f24ea859c99def98218ef32a8cafce&begin_session=1'/></noscript>

    <link rel="icon" href="<%= favicon_url %>" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- Display a message if JS has been disabled on the browser. -->
    <noscript
      >If you're seeing this message, that means
      <strong>JavaScript has been disabled on your browser</strong>, please
      <strong>enable JS</strong> to make this app work.</noscript
    >

    <!-- The app hooks into this div -->
    <div id="app"></div>
    <!-- Open Sans Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"
      rel="stylesheet"
    />
    <!-- A lot of magic happens in this file. HtmlWebpackPlugin automatically includes all assets (e.g. bundle.js, main.css) with the correct HTML tags, which is why they are missing in this HTML file. Don't add any assets here! (Check out the webpack config files in config/webpack for details) -->
  <script type="text/javascript">
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
  <script type='text/javascript'>
    //some default pre init
    var Countly = Countly || {};
    Countly.q = Countly.q || [];

    //provide countly initialization parameters
    Countly.app_key = '7397553b15f24ea859c99def98218ef32a8cafce';
    Countly.url = 'http://167.99.128.193';
    Countly.use_session_cookie = true;
    Countly.force_post = true;

    Countly.q.push(['track_sessions']);
    Countly.q.push(['track_pageview']);
    Countly.q.push(['track_clicks']);
    Countly.q.push(['track_scrolls']);
    Countly.q.push(['track_errors']);
    Countly.q.push(['track_links']);
    Countly.q.push(['track_forms']);
    Countly.q.push(['collect_from_forms']);

    //load countly script asynchronously
    (function() {
       var cly = document.createElement('script'); cly.type = 'text/javascript';
       cly.async = true;
       //enter url of script here
       cly.src = 'https://cdnjs.cloudflare.com/ajax/libs/countly-sdk-web/20.4.0/countly.min.js';
       cly.onload = function(){Countly.init()};
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cly, s);
    })();
  </script>
  </body>
</html>
