@import "../../styles/variables";

.jumbotron {
  background-color: rgba(#D71461, 0.85);
  position: relative;
  width: calc(100vw - 8px);
  left: calc(-50vw + 50%);

  .content {
    padding: 24px;
    max-width: 1024px;
    margin: 0 auto;

    > * {
      color: #FFFFFF;
    }
  }
}
