.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span {
    margin-top: 10px;
  }

  a {
    text-decoration: underline;
    color: -webkit-link;
  }
}
