@import './../../styles/variables';

.progress-wrapper {
  padding-top: 16px;

  .progress-value {
    padding-top: 8px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
  }
}

.progress-bar {
  flex: 1;
  border-radius: 10px;

  @media #{$--md-and-above} {
    height: 10px!important;
  }
}


