.course-lesson {

  .description {
    margin-top: 16px;
    padding: 16px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
  }

  .complete-button {
    margin-top: 16px;

    .left-icon {
      margin-right: 8px;
    }
  }

  .attachments {
    margin-top: 16px;
    padding: 16px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
  }
}

