@import './../../styles/variables';

.app-wrapper {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  @media #{$--md-and-above} {
    //max-width: calc(768px + 16px * 2);
    //margin: 0 auto;
  }

  .main {
    /* 56px - header 115px - footer */
    height: calc(100vh - 56px - 115px);
    padding: 0 8px;
  }

}
