@import "../../styles/variables";

.bookmark-list {
  margin-top: 16px;
  padding: 8px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);

  @media #{$--md-and-above} {
    padding: 16px;
  }
}

.meta {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  .video-bookmark {
    margin: 16px 0;
    cursor: pointer;

    svg {
      font-size: 30px;
    }
  }
}
